container_commands:
  01_migrate:
    command: "source ../../opt/python/run/venv/bin/activate && cd ../../opt/python/current/app python manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "source ../../opt/python/run/venv/bin/activate && cd ../../opt/python/current/app python manage.py createsu"
    leader_only: true